.sidebar {
    left: 0;
    height: 95vh;
    width: 17%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    justify-content: center;
}

.sidebar ul li {
    width: 100%;
    text-align: center;
}

.nav-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    transition: all 0.3s;
    background-color: aquamarine;
}

.brand {
    font-size: 3rem;
}

.logout {
    width: 90%;
}