.bug-card {
    text-align: center;
    margin: 10px;
    min-width: 275px;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bug-card:hover {
    transition: all 0.3s;
    transform: scale(1.05);
}